# Project 1: Explanatory Data Analysis & Data Presentation (Movies Dataset)

# Project Brief for Self-Coders

Here you´ll have the opportunity to code major parts of Project 1 on your own. If you need any help or inspiration, have a look at the Videos or the Jupyter Notebook with the full code. <br> <br>
Keep in mind that it´s all about __getting the right results/conclusions__. It´s not about finding the identical code. Things can be coded in many different ways. Even if you come to the same conclusions, it´s very unlikely that we have the very same code.

## Data Import and first Inspection

1. __Import__ the movies dataset from the CSV file "movies_complete.csv". __Inspect__ the data.

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
pd.options.display.max_columns = 30
pd.options.display.float_format = '{:.2f}'.format

df = pd.read_csv("movies_complete.csv", parse_dates=["release_date"])

In [ ]:
# df.head(50)

__Some additional information on Features/Columns__:

* **id:** The ID of the movie (clear/unique identifier).
* **title:** The Official Title of the movie.
* **tagline:** The tagline of the movie.
* **release_date:** Theatrical Release Date of the movie.
* **genres:** Genres associated with the movie.
* **belongs_to_collection:** Gives information on the movie series/franchise the particular film belongs to.
* **original_language:** The language in which the movie was originally shot in.
* **budget_musd:** The budget of the movie in million dollars.
* **revenue_musd:** The total revenue of the movie in million dollars.
* **production_companies:** Production companies involved with the making of the movie.
* **production_countries:** Countries where the movie was shot/produced in.
* **vote_count:** The number of votes by users, as counted by TMDB.
* **vote_average:** The average rating of the movie.
* **popularity:** The Popularity Score assigned by TMDB.
* **runtime:** The runtime of the movie in minutes.
* **overview:** A brief blurb of the movie.
* **spoken_languages:** Spoken languages in the film.
* **poster_path:** The URL of the poster image.
* **cast:** (Main) Actors appearing in the movie.
* **cast_size:** number of Actors appearing in the movie.
* **director:** Director of the movie.
* **crew_size:** Size of the film crew (incl. director, excl. actors).

In [ ]:
df.describe(include= 'object')

## The best and the worst movies...

2. __Filter__ the Dataset and __find the best/worst n Movies__ with the

- Highest Revenue
- Highest Budget
- Highest Profit (=Revenue - Budget)
- Lowest Profit (=Revenue - Budget)
- Highest Return on Investment (=Revenue / Budget) (only movies with Budget >= 10) 
- Lowest Return on Investment (=Revenue / Budget) (only movies with Budget >= 10)
- Highest number of Votes
- Highest Rating (only movies with 10 or more Ratings)
- Lowest Rating (only movies with 10 or more Ratings)
- Highest Popularity

__Define__ an appropriate __user-defined function__ to reuse code.

In [2]:
# data set have column that containt HTML elements
# import IPython module that can display those HTML elements in dataframe
from IPython.display import HTML

In [3]:
# create df_best, sub datafram from df
# df_best is going to be use for best/worst measurement 
df_best = df[['poster_path', 'title', 'budget_musd', 'revenue_musd', 'vote_count', 
             'vote_average', 'popularity']].copy()

# profit column = revenue - budget
df_best['profit_musd'] = df_best.revenue_musd.sub(df_best.budget_musd)

# rate of ROI = revenue / budget
df_best['ROI'] = df_best.revenue_musd.div(df_best.budget_musd)

In [4]:
df_best.columns = ['Poster', 'Title', 'Budget',
                  'Revenue', 'Votes', 'Average Rating', 'Popularity', 'Profit', 'ROI']
df_best.set_index("Title", inplace=True)
df_best

,Poster,Budget,Revenue,Votes,Average Rating,Popularity,Profit,ROI
Title,,,,,,,,
Toy Story,<img src='http://image.tmdb.org/t/p/w185//uXDf...,30.00,373.55,5415.00,7.70,21.95,343.55,12.45
Jumanji,<img src='http://image.tmdb.org/t/p/w185//vgpX...,65.00,262.80,2413.00,6.90,17.02,197.80,4.04
Grumpier Old Men,<img src='http://image.tmdb.org/t/p/w185//1FSX...,NaN,NaN,92.00,6.50,11.71,NaN,NaN
Waiting to Exhale,<img src='http://image.tmdb.org/t/p/w185//4wjG...,16.00,81.45,34.00,6.10,3.86,65.45,5.09
Father of the Bride Part II,<img src='http://image.tmdb.org/t/p/w185//lf9R...,NaN,76.58,173.00,5.70,8.39,NaN,NaN
...,...,...,...,...,...,...,...,...
Subdue,<img src='http://image.tmdb.org/t/p/w185//pfC8...,NaN,NaN,1.00,4.00,0.07,NaN,NaN
Century of Birthing,<img src='http://image.tmdb.org/t/p/w185//xZkm...,NaN,NaN,3.00,9.00,0.18,NaN,NaN
Betrayal,<img src='http://image.tmdb.org/t/p/w185//eGga...,NaN,NaN,6.00,3.80,0.90,NaN,NaN
Satan Triumphant,<img src='http://image.tmdb.org/t/p/w185//aorB...,NaN,NaN,0.00,NaN,0.00,NaN,NaN
Queerama,<img src='http://image.tmdb.org/t/p/w185//oxFE...,NaN,NaN,0.00,NaN,0.16,NaN,NaN

In [6]:
# DO NOT RUN THIS, RAM EATING
# HTML(df_best.to_html(escape=False))

# use HTML module to display HTML elements inside the dataframe
# .to_html convert the data.farame into html code
subset = df_best.iloc[:3,:2]
HTML(subset.to_html(escape=False))

In [7]:
# to start ranking movie, we need metric: budget, votes...
# those columns has null value--> fill in with 0
df_best.Budget.fillna(0, inplace=True)
df_best.Votes.fillna(0, inplace=True)
df_best.info()

<class 'pandas.core.frame.DataFrame'>
Index: 44691 entries, Toy Story to Queerama
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Poster          44467 non-null  object
 1   Budget          44691 non-null  float64
 2   Revenue         7385 non-null   float64
 3   Votes           44691 non-null  float64
 4   Average Rating  42077 non-null  float64
 5   Popularity      44691 non-null  float64
 6   Profit          5371 non-null   float64
 7   ROI             5371 non-null   float64
dtypes: float64(7), object(1)
memory usage: 3.1+ MB

In [13]:
# DEFINE FUNCTION for making rankings

# parameters:
# n : number of ranks (top5, top 10, top 3, ...)
# ascending: order
# min_bud: minimum budget for the comparison
# min_votes: minimum votes

def best_worst (n , by, ascending=False, min_bud = 0, min_votes=0):
    
     df2 = df_best.loc[(df_best.Budget >= min_bud) & (df_best.Votes >= min_votes), 
                      ["Poster", by]].sort_values(by = by, ascending = ascending).head(n).copy()
        
     return HTML(df2.to_html(escape=False))

In [14]:
# df.loc[(df_best.Budget >= 5) & (df_best.Votes >= 10), ["", "Revenue"]].sort_values(by = "Revenue")

__Movies Top 5 - Highest Revenue__

In [15]:
best_worst(n = 5, by = "Revenue")

__Movies Top 5 - Highest Budget__

In [16]:
best_worst(5, by="Budget")

__Movies Top 5 - Highest Profit__

In [17]:
best_worst(5, by="Profit")

__Movies Top 5 - Lowest Profit__

In [20]:
best_worst(5, by="Profit", ascending=True)

__Movies Top 5 - Highest ROI__

In [22]:
best_worst(5, by="ROI")

__Movies Top 5 - Lowest ROI__

In [21]:
best_worst(5, by="ROI", ascending=True)

__Movies Top 5 - Most Votes__

In [23]:
best_worst(5, by="Votes")

__Movies Top 5 - Highest Rating__

In [24]:
best_worst(5, by="Average Rating")

__Movies Top 5 - Lowest Rating__

In [25]:
best_worst(5, by="Average Rating", ascending=True)

__Movies Top 5 - Most Popular__

In [26]:
best_worst(5, by="Popularity")

## Find your next Movie

3. __Filter__ the Dataset for movies that meet the following conditions:

__Search 1: Science Fiction Action Movie with Bruce Willis (sorted from high to low Rating)__

__Search 2: Movies with Uma Thurman and directed by Quentin Tarantino (sorted from short to long runtime)__

__Search 3: Most Successful Pixar Studio Movies between 2010 and 2015 (sorted from high to low Revenue)__

__Search 4: Action or Thriller Movie with original language English and minimum Rating of 7.5 (most recent movies first)__

In [48]:
# create a panda series that contain satisfy condition: genres of Action and Science Fiction
marked_genres = df.genres.str.contains("Action") & df.genres.str.contains("Science Fiction")

# create a panda series that contain satisfy condition: movie that have Bruce Willis in casts
marked_actor = df.cast.str.contains("Bruce Willis")

In [51]:
bw_movies = df.loc[marked_actor & marked_genres, 
                   ['title', 'vote_average', 'poster_path']].sort_values(by='vote_average', ascending = False)
HTML(bw_movies.to_html(escape=False))

## Are Franchises more successful?

4. __Analyze__ the Dataset and __find out whether Franchises (Movies that belong to a collection) are more successful than stand-alone movies__ in terms of:

- mean revenue
- median Return on Investment
- mean budget raised
- mean popularity
- mean rating

hint: use groupby()

__Franchise vs. Stand-alone: Average Revenue__

__Franchise vs. Stand-alone: Return on Investment / Profitability (median)__

__Franchise vs. Stand-alone: Average Budget__

__Franchise vs. Stand-alone: Average Popularity__

__Franchise vs. Stand-alone: Average Rating__

## Most Successful Franchises

5. __Find__ the __most successful Franchises__ in terms of

- __total number of movies__
- __total & mean budget__
- __total & mean revenue__
- __mean rating__

## Most Successful Directors

6. __Find__ the __most successful Directors__ in terms of

- __total number of movies__
- __total revenue__
- __mean rating__